interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/apis/config.openshift.io/v1/clusterversions
  response:
    body:
      string: '{"apiVersion":"config.openshift.io/v1","items":[{"apiVersion":"config.openshift.io/v1","kind":"ClusterVersion","metadata":{"creationTimestamp":"2023-01-08T07:02:13Z","generation":2,"managedFields":[{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{".":{},"f:channel":{},"f:clusterID":{}}},"manager":"cluster-bootstrap","operation":"Update","time":"2023-01-08T07:02:13Z"},{"apiVersion":"config.openshift.io/v1","fieldsType":"FieldsV1","fieldsV1":{"f:status":{".":{},"f:availableUpdates":{},"f:conditions":{},"f:desired":{".":{},"f:channels":{},"f:image":{},"f:url":{},"f:version":{}},"f:history":{},"f:observedGeneration":{},"f:versionHash":{}}},"manager":"cluster-version-operator","operation":"Update","subresource":"status","time":"2023-01-10T02:56:02Z"}],"name":"version","resourceVersion":"3118941","uid":"d3ce7396-70bc-45c0-a7b8-d3d3dd28261a"},"spec":{"channel":"stable-4.10","clusterID":"1e4194eb-3053-4b50-a8ca-55e71a062bf6"},"status":{"availableUpdates":[{"channels":["candidate-4.10","candidate-4.11","eus-4.10","fast-4.10","fast-4.11","stable-4.10","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:885eeba368670aded2ef6433814ebd0eab21566812125f459af45d93e7109692","url":"https://access.redhat.com/errata/RHBA-2022:9099","version":"4.10.46"},{"channels":["candidate-4.10","candidate-4.11","eus-4.10","fast-4.10","fast-4.11","stable-4.10","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:5f9ac79c9c257c28b8b51e79a0382de285d6e4c4e4537710b7c117601d320293","url":"https://access.redhat.com/errata/RHBA-2022:8882","version":"4.10.45"}],"conditions":[{"lastTransitionTime":"2023-01-08T07:02:13Z","message":"Payload
        loaded version=\"4.10.43\" image=\"quay.io/openshift-release-dev/ocp-release@sha256:4ef9ec346f612972cf0441e1e009b836f8db1143a6fbe95edbe573baf2e41f7b\"","reason":"PayloadLoaded","status":"True","type":"ReleaseAccepted"},{"lastTransitionTime":"2023-01-08T09:18:09Z","message":"Done
        applying 4.10.43","status":"True","type":"Available"},{"lastTransitionTime":"2023-01-12T14:52:18Z","message":"Cluster
        operator network is degraded","reason":"ClusterOperatorDegraded","status":"True","type":"Failing"},{"lastTransitionTime":"2023-01-08T09:18:09Z","message":"Error
        while reconciling 4.10.43: the cluster operator network is degraded","reason":"ClusterOperatorDegraded","status":"False","type":"Progressing"},{"lastTransitionTime":"2023-01-10T02:56:02Z","status":"True","type":"RetrievedUpdates"}],"desired":{"channels":["candidate-4.10","candidate-4.11","eus-4.10","fast-4.10","fast-4.11","stable-4.10","stable-4.11"],"image":"quay.io/openshift-release-dev/ocp-release@sha256:4ef9ec346f612972cf0441e1e009b836f8db1143a6fbe95edbe573baf2e41f7b","url":"https://access.redhat.com/errata/RHBA-2022:8623","version":"4.10.43"},"history":[{"completionTime":"2023-01-08T09:18:09Z","image":"quay.io/openshift-release-dev/ocp-release@sha256:4ef9ec346f612972cf0441e1e009b836f8db1143a6fbe95edbe573baf2e41f7b","startedTime":"2023-01-08T07:02:13Z","state":"Completed","verified":false,"version":"4.10.43"}],"observedGeneration":2,"versionHash":"uN1xycukn5I="}}],"kind":"ClusterVersionList","metadata":{"continue":"","resourceVersion":"3123802"}}

        '
    headers:
      Audit-Id:
      - b1a4d6fd-c79e-4f8d-9309-e636a2266de5
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 6fb70aeb-f7a8-43f2-a247-948e94d5a538
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - e9fe6b9e-3ff0-4054-9ad8-1974be1c88fd
    status:
      code: 200
      message: OK
version: 1
