interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - <AUTH_TOKEN>
    method: GET
    uri: https://fake.ocp.host:9872/api/v1/nodes
  response:
    body:
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"3110141"},"items":[{"metadata":{"name":"master-0.sharedocp4upi410ovn.lab.upshift.rdu2.redhat.com","uid":"d273558f-52d5-48b3-ba0c-305f81fb8f18","resourceVersion":"3107812","creationTimestamp":"2023-01-08T08:53:04Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"master-0.sharedocp4upi410ovn.lab.upshift.rdu2.redhat.com","kubernetes.io/os":"linux","node-role.kubernetes.io/master":"","node.openshift.io/os_id":"rhcos"},"annotations":{"k8s.ovn.org/host-addresses":"[\"10.0.88.69\",\"10.88.0.1\",\"2620:52:0:58:9f5f:4069:2e04:cd51\"]","k8s.ovn.org/l3-gateway-config":"{\"default\":{\"mode\":\"shared\",\"interface-id\":\"br-ex_master-0.sharedocp4upi410ovn.lab.upshift.rdu2.redhat.com\",\"mac-address\":\"fa:16:3e:34:a4:d3\",\"ip-addresses\":[\"10.0.88.69/21\"],\"ip-address\":\"10.0.88.69/21\",\"next-hops\":[\"10.0.95.254\"],\"next-hop\":\"10.0.95.254\",\"node-port-enable\":\"true\",\"vlan-id\":\"0\"}}","k8s.ovn.org/node-chassis-id":"fb40283e-0a0f-41fb-b237-d212330a948b","k8s.ovn.org/node-mgmt-port-mac-address":"26:39:4e:98:b5:89","k8s.ovn.org/node-primary-ifaddr":"{\"ipv4\":\"10.0.88.69/21\"}","k8s.ovn.org/node-subnets":"{\"default\":\"10.128.0.0/23\"}","k8s.ovn.org/topology-version":"5","machineconfiguration.openshift.io/controlPlaneTopology":"HighlyAvailable","machineconfiguration.openshift.io/currentConfig":"rendered-master-4c033629cfa55d2af5dcf120d6316fa0","machineconfiguration.openshift.io/desiredConfig":"rendered-master-4c033629cfa55d2af5dcf120d6316fa0","machineconfiguration.openshift.io/reason":"","machineconfiguration.openshift.io/state":"Done","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2023-01-08T08:53:04Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{},"f:node-role.kubernetes.io/master":{},"f:node.openshift.io/os_id":{}}}}},{"manager":"master-0.sharedocp4upi410ovn.lab.upshift.rdu2.redhat.com","operation":"Update","apiVersion":"v1","time":"2023-01-08T08:55:47Z","fieldsType":"FieldsV1","fi[...]
